h3
  margin-top: 0

p
  margin-bottom: 0

.wrapper
  display: flex
  flex-direction: row
  overflow-y: scroll
  gap: 5%

  height: 70%
  padding: 16px

.column
  display: flex
  flex-direction: column
  gap: 16px

  height: 100%

.element
  padding: 4px

  border-radius: 4px
  box-shadow: 0 0 5px 0 #000
  background-color: #00000005

.element:hover
  box-shadow: 0 0 7px 0 #000
  background-color: #00000008
